<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Big Boss App</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<nav class="navbar">
    <h1>Big Boss</h1>
    <div>
        <a href="/dashboard">Tableau de bord</a>
        <a href="/logout">Déconnexion</a>
    </div>
</nav>

<div class="container">
    {% block content %}{% endblock %}
</div>

</body>
</html>
